useDynLib('BART', .registration=TRUE)
#exportPattern("^[[:alpha:]]+")
export(wbart, mc.wbart, pwbart, mc.wbart.gse, mc.pwbart, predict.wbart)
export(pbart, mc.pbart, predict.pbart)
export(lbart, mbart)
export(surv.pre.bart, surv.bart, surv.pwbart, mc.surv.bart, mc.surv.pwbart, predict.survbart)
export(recur.pre.bart, recur.bart, recur.pwbart, mc.recur.bart, mc.recur.pwbart, predict.recurbart)
export(crisk.pre.bart, crisk.bart, mc.crisk.bart, mc.crisk.pwbart, predict.criskbart)
export(mc.cores.openmp)
export(gewekediag, spectrum0ar)
importFrom(Rcpp, evalCpp)
importFrom(parallel, detectCores)
importFrom(stats, ar, cor, lm, predict, pnorm, qnorm, qchisq, quantile, residuals, runif, sd)
importFrom(survival, survfit, Surv)
importFrom(tools, psnice)
S3method(predict, wbart)
S3method(predict, pbart)
S3method(predict, survbart)
S3method(predict, recurbart)
S3method(predict, criskbart)
#S3method(predict, lbart)
