useDynLib('BART', .registration=TRUE)
#exportPattern("^[[:alpha:]]+")
export(wbart, mc.wbart, pwbart, mc.wbart.gse, mc.pwbart)
export(pbart, mc.pbart)
export(surv.pre.bart, surv.bart, mc.surv.bart, mc.surv.pwbart)
export(recur.pre.bart, recur.bart, mc.recur.bart, mc.recur.pwbart)
export(crisk.pre.bart, crisk.bart, mc.crisk.bart, mc.crisk.pwbart)
importFrom(Rcpp, evalCpp)
importFrom(parallel, detectCores)
importFrom(stats, cor, lm, predict, pnorm, qnorm, qchisq, quantile, runif, sd)
importFrom(survival, survfit, Surv)
importFrom(tools, psnice)
